copilot.lua
copilot.vim/
eclipse.copilot/
engine_list.h
copilot.geany.so
examples/
geany-lsp/
geany-plugins/
geany/
build
chat
phpstorm/
pylspclient/
readme.md
test1/

node-*
copilot-*
*.log

.gdbinit
custom.css
gtk_test
links.txt
